
body {
    background: black;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background: repeating-radial-gradient(circle at center, #000000, #000000 40px, #4d2323 40px, #4d2323 80px);
    padding: 20px;
    padding-bottom: 40px;
  }
  
  h1 {
    color: #f00;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav ul li a:hover {
    color: #f00;
  }
  
  section {
    padding: 50px;
  }
  
  h2 {
    color: #f00;
  }
  
  div.scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    overflow-x: scroll;
  }
  
  div.scroll-container img {
    padding: 10px;
  }
  
  
  footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
    color: #f00;
  }



p{
    padding-bottom: 20px;
}
.button {
background-color: #f00;
color: #fff;
padding: 10px 20px;
text-decoration: none;
font-size: 18px;
}

.button:hover {
background-color: #000;
}