/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #303030; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #791b1b; 
}

::-webkit-scrollbar-thumb:active {
  background: #e62169; 
}

.hero {
  position: relative;
  background-image: "bannerxyldroth.png";
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.hero-content {
  text-align: center;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 40px;
}
body {
    background: black;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    padding: 20px;
    padding-bottom: 40px;
  }
  
  h1 {
    font-size: 70px;
    color: #e62169;
    text-align: center;
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav ul li a:hover {
    color: #e62169;
  }
  
  section {
    padding: 50px;
  }
  
  h2 {
    font-size: 50px;
    color: #e62169;
    text-align: center;
  }

  h3 {
    font-size: 40px;
    color: #e62169;
    text-align: center;
  }
  
  div.scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    overflow-x: scroll;
  }
  
  div.scroll-container img {
    border-radius: 10px;
    margin: 10px;
  }
  
  
  footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    font-size: 0px;
    margin: 0;
    color: #e62169;
  }

.logo{
  text-align: center;
}

p{
  font-size: 40px;
    text-align: center;
    margin:0;
}


.button {
  animation: rainbow 2.5s linear;
  animation-iteration-count: infinite;
color: #fff;
padding: 10px 20px;
text-decoration: none;
font-size: 18px;
}

@keyframes rainbow{
  100%,0%{
    background-color: rgb(255,0,0);
  }
  8%{
    background-color: rgb(255,127,0);
  }
  16%{
    background-color: rgb(255,255,0);
  }
  25%{
    background-color: rgb(127,255,0);
  }
  33%{
    background-color: rgb(0,255,0);
  }
  41%{
    background-color: rgb(0,255,127);
  }
  50%{
    background-color: rgb(0,255,255);
  }
  58%{
    background-color: rgb(0,127,255);
  }
  66%{
    background-color: rgb(0,0,255);
  }
  75%{
    background-color: rgb(127,0,255);
  }
  83%{
    background-color: rgb(255,0,255);
  }
  91%{
    background-color: rgb(255,0,127);
  }
}

.button:hover {
background-color: #000;
}

.doodle{
  margin-bottom: 50px;
}

.scroll-container img:hover{
  transition: 0.2s;
  filter: drop-shadow(0px 0px 10px #ffffff);
}

.scroll-container img{
  transition: filter 0.2s;
}

.button-container{
  padding: 50px;
  text-align: center;
}