body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #000;
    padding: 20px;
  }
  
  h1 {
    color: #f00;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav ul li a:hover {
    color: #f00;
  }
  
  section {
    padding: 50px;
  }
  
  h2 {
    color: #f00;
  }
  

  
  footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
    color: #f00;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

p{
    padding-bottom: 20px;
}
.button {
background-color: #f00;
color: #fff;
padding: 10px 20px;
text-decoration: none;
font-size: 18px;
}

.button:hover {
background-color: #000;
}